#aboutUs {
  position: relative;
  height: 100vh;
  width: auto;
  padding-top: 2rem;
 

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.images {
  display: flex;

  img {
    height: 19rem;
    width: 17rem;
    object-fit: cover;
    overflow: hidden;
    margin: 0rem 2rem 3rem 2rem;
    filter: grayscale(100%);
    transition: all 0.6s ease-in-out;
    box-shadow: 0px 30px 50px 0px rgba(109, 104, 81, 0.4);
  }

  img:hover {
    transform: scale(1.1);
    filter: none;
  }
}

@media screen and (max-width: 420px) {
  #aboutUs {
    padding-left: 0;
    height: unset;
  }

  .images {
    display: flex;
    flex-direction: column;

    img {
      transform: scale(0.8);
      margin-bottom: 0px;
    }

    img:nth-child(1) {
      display: none;
    }
    img:nth-child(3) {
      display: none;
    }
  }
}

.aboutUsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 25px;

  h2 {
    background-color: #f6f3e0;
    color: #640f12;
    font-size: 30px;
    font-weight: bold;
    font-family: PT serif;
    width: 100%;
    text-align: center;
    padding: 0.5rem 1rem;
    margin-bottom: 15px;
  }

  p {
    text-align: center;
    // color: #879197;
    color: rgba(2, 38, 60, 0.7);
    font-size: 24;
    font-family: Roboto, Regular;
  }
}
